<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/product/css/product.css}"/>
    <title>PC Mall</title>
</head>
<body>
<header class="mt-[60px]">
    <div class="flex justify-between items-center w-[100%] mb-[30px] px-[150px]">
        <a href="/admin/product" class="block text-4xl font-bold">PC Mall<span class="text-xl">  - 관리자</span></a>
        <div class="flex flex-col items-end text-xl">
            <p class="flex justify-end items-center">
                <img th:src="@{/product/img/user.png}" width="25px" height="25px" alt="유저이미지">
                <span class="block ml-[10px] font-bold"
                      th:text="|${role == 'ROLE_ADMIN' ? '(관리자)' : ''} ${username} 님|"/>
            </p>
            <div class="flex mt-[10px]">
                <a th:if="${role == 'ROLE_ADMIN'}" class="hover:underline hover:italic"
                   href="/admin/product/new">상품 추가</a>
                <a th:if="${role == 'ROLE_ADMIN'}" class="ml-[20px] hover:underline hover:italic"
                   href="/user/product">메인페이지</a>
                <a href="/user/myPage" class="ml-[20px] hover:underline hover:italic">마이페이지</a>
                <button type="button"
                        class="flex justify-center items-center ml-[20px] hover:underline hover:italic"
                        onclick="logout()">
                    <span>로그아웃</span>
                </button>
            </div>
        </div>
    </div>
    <div class="flex justify-between items-center h-[120px] bg-[skyblue] text-xl px-[150px]">
        <a th:each="category: ${categories}"
           class="flex justify-center items-center w-[10%] bg-[skyblue] hover:text-white h-[100%] hover:bg-[#33adff]"
           th:href="@{/admin/product(category=${category.name})}"><span
            th:text="${category.name}">CPU</span></a>
    </div>
</header>
<main class="my-[30px]">
    <div class="flex flex-col justify-center items-center w-[100%]">
        <div
            class="flex justify-between items-center text-center p-1 w-[90%] h-[120px] border-2 border-solid border-[skyblue]
                mb-[30px]"
                th:each="product: ${products}">
            <a
                class="flex flex-col justify-around w-[20%] h-[95%] text-left hover:underline hover:italic"
                th:href="@{/user/product/{id}(id=${product.id})}">
                <p class="font-bold text-2xl text-center" th:text="${product.id}"></p>
            </a>
            <a
                class="flex flex-col justify-around w-[60%] h-[95%] hover:underline hover:italic"
                th:href="@{/user/product/{id}(id=${product.id})}">
                <p class="font-bold text-2xl text-left" th:text="${product.name}"></p>
            </a>
            <div
                class="flex flex-col justify-around w-[20%] h-[95%]">
                <a th:href="@{/admin/product/{id}/edit(id=${product.id})}" class="font-bold text-2xl
                 w-[80%] h-[60px] leading-[60px] bg-[skyblue] hover:bg-[#33adff] hover:text-white">수정/삭제</a>
            </div>
        </div>
    </div>
    <div th:if="${products.isEmpty()}">
        <h1 class="text-center text-6xl">상품이 존재하지 않습니다.</h1>
    </div>
    <div th:if="${!products.isEmpty()}" class="flex justify-evenly w-[70%] overflow-hidden m-auto">
        <a class="block w-[60px] h-[70px] text-center leading-[70px] border-2 border-black border-solid font-bold text-2xl"
           th:each="pageNo: ${#numbers.sequence(1, totalPages)}" th:text="${pageNo}"
           th:href="@{/admin/product(category=${category}, page=${pageNo - 1}, size=${size})}">
        </a>
    </div>
</main>
<script th:src=" @{/product/js/product-list.js}"></script>
<script th:src=" @{/product/js/global.js}"></script>
</body>
</html>
`