<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/product/css/product.css}"/>
    <title>PC Mall</title>
</head>
<body>
<header class="mt-[60px]">
    <div class="flex justify-evenly items-center h-[120px] bg-[skyblue] text-xl px-[150px]">
        <a th:each="category: ${categories}"
           class="flex justify-center items-center w-[10%] bg-[skyblue] hover:text-white h-[100%] hover:bg-[#33adff]"
           th:href="@{/product(category=${category.name})}"><span
            th:text="${category.name}">CPU</span>
        </a>
    </div>
</header>
<main class="my-[30px]">
    <div class="flex flex-col justify-center items-center w-[100%] h-[100%]">
        <div
            class="flex flex-col justify-between items-center p-1 w-[90%] h-[100%] border-2 border-solid border-[skyblue]
                py-[30px]">
            <div
                class="flex flex-col justify-evenly items-start w-[100%] h-[20%] mb-[40px] pl-[30px]">
                <p class="font-bold text-3xl mb-[15px]" th:text="${product.name}"></p>
                <div>
                        <span th:each="desc: ${product.description}"
                              th:text="|${desc.key}: ${desc.value}${descStat.last ? '' : ', '} |"></span>
                </div>
            </div>
            <div class="flex w-[100%] h-[80%] pl-[30px]">
                <div
                    class="relative w-[400px] box-border border-2 border-solid border-[skyblue] overflow-hidden mr-[100px]">
                    <div id="image-container" style="transition: transform 0.5s ease-in-out;"
                         th:class="|flex w-[${product.images.isEmpty() ? 400 : product.images.size() * 400}px] h-[400px]|">
                        <div th:if="${!product.images.isEmpty()}"
                             th:each="image: ${product.images}"
                             th:class="|images w-[400px] bg-[url('${image.url}')] bg-no-repeat bg-cover|"
                        ></div>
                        <div th:if="${product.images.isEmpty()}"
                             class="text-center leading-[400px] w-[400px] font-bold text-xl">
                            이미지 없음
                        </div>
                    </div>
                    <div th:if="${!product.images.isEmpty()}"
                         class="flex justify-evenly items-center w-[60%] mx-auto py-[10px]">
                        <button id="prevButton" class="w-[40px] h-[40px]"><img
                            th:src="@{img/prev.png}"
                            alt="앞으로"></button>
                        <div id="imagePage" class="text-xl" th:text="|1/${product.images.size()}|">
                            1/4
                        </div>
                        <button id="nextButton" class="w-[40px] h-[40px]"><img
                            th:src="@{img/next.png}"
                            alt="뒤로"></button>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-around w-[58%] h-[95%] pl-[30px]">

                    <div class="w-[70%] h-[150px]">
                        <p class="font-semibold text-4xl border-b-2 border-black pb-[45px]"
                           th:text="${#numbers.formatCurrency(product.price)}"></p>
                        <div
                            class="flex items-center w-[100%] h-[50px] text-2xl text-left font-bold border-b-2 border-black py-[15px]">
                            <label for="buyCount" class="w-[30%]">수량</label>
                            <input id="buyCount" type="number" min="1" th:max="${product.stock}"
                                   value="1" class="w-[15%] outline focus:outline-black
                                focus:outline-2 font-light text-center placeholder:text-[15px]">
                            <p class="text-[red] ml-[50px] font-bold text-base"
                               th:text="|* 남은 수량: ${product.stock}|"></p>
                        </div>
                        <div
                            class="flex items-center w-[100%] h-[50px] text-2xl text-left font-bold border-b-2 border-black py-[15px]">
                            <label for="brand" class="w-[30%]">제조사</label>
                            <div id="brand" class="w-[10%] font-light text-center"
                                 th:text="${product.brand}">
                            </div>
                        </div>
                        <div
                            class="flex justify-between items-center h-[95%] text-2xl font-semibold mt-[100px]">
                            <button
                                class="buyButton w-[40%] h-[60px] bg-[skyblue] hover:bg-[#33adff] hover:text-white"
                                th:onclick="order([[${user}]]);">
                                바로 구매
                            </button>
                            <button
                                class="cartButton w-[40%] h-[60px] bg-[skyblue] hover:bg-[#33adff] hover:text-white">
                                장바구니 담기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src=" @{/product/js/product-detail.js}"></script>
</body>
</html>
