<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/product/css/product.css}"/>
    <title>PC Mall</title>
</head>
<body>
<main class="mb-[50px]">
    <h1 class="h-[200px] text-center text-4xl font-bold leading-[200px]">
        상품 등록 - 관리자
    </h1>
    <div class="flex justify-evenly items-center my-[70px]" id="preview">
        <button
            class="flex flex-col justify-evenly items-center w-[250px] h-[250px] text-4xl font-bold border-solid border-2 border-black"
            onclick="handleImageUpload()"
        >
            <p class="mt-[50px]">+</p>
            <p id="image-count" class="text-2xl font-light">0/4</p>
            <input
                type="file"
                name="imageInput"
                id="image-input"
                onchange="previewImages()"
                accept="image/png, image/jpg, image/jpeg"
                hidden
                multiple
            />
        </button>
    </div>

    <form class="flex flex-col items-center" id="inputForm">
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-y-2 border-black"
        >
            <label class="w-[35%]" for="part">부품</label>
            <select
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center"
                name="part"
                id="part"
                onchange="handleChangePart()"
            >
                <option value="CPU">CPU</option>
                <option value="RAM">RAM</option>
                <option value="GPU">그래픽카드</option>
                <option value="HDD">HDD</option>
                <option value="SSD">SSD</option>
                <option value="POWERSUPPLY">파워서플라이</option>
                <option value="MAINBOARD">메인보드</option>
            </select>
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="brand">제조사</label>
            <select
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center"
                name="brand"
                id="brand"
            >
                <option value="Intel">Intel</option>
                <option value="Ryzen">Ryzen</option>
            </select>
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="name">제품명</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="text"
                name="name"
                id="name"
                placeholder="입력해주세요"
            />
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="stock">재고</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="text"
                name="stock"
                id="stock"
                placeholder="숫자만 입력해주세요"
            />
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="price">가격</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="price"
                id="price"
                placeholder="숫자만 입력해주세요"
            />
        </div>
        <div
            class="cpu flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="coreCount">코어 수</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="coreCount"
                id="coreCount"
                placeholder="숫자만 입력해주세요"
            />
        </div>
        <div
            class="cpu flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="threadCount">스레드 수</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="threadCount"
                id="threadCount"
                placeholder="숫자만 입력해주세요"
            />
        </div>
        <div
            class="cpu gpu flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="baseClockSpeed">기본 클럭속도</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="baseClockSpeed"
                id="baseClockSpeed"
                placeholder="숫자만 입력해주세요 (단위 GHz)"
            />
        </div>
        <div
            class="cpu gpu flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="boostClockSpeed">최대 클럭속도</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="boostClockSpeed"
                id="boostClockSpeed"
                placeholder="숫자만 입력해주세요 (단위 GHz)"
            />
        </div>
        <div
            class="ram ssd hdd flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="capacity">용량</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="capacity"
                id="capacity"
                placeholder="숫자만 입력해주세요 (단위 GB)"
            />
        </div>
        <div
            class="ram flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="speed">속도</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="speed"
                id="speed"
                placeholder="숫자만 입력해주세요 (단위 MHz)"
            />
        </div>
        <div
            class="ram gpu flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="type">분류</label>
            <select
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center"
                name="type"
                id="type"
            >
                <option value="ddr">DDR</option>
                <option value="ddr2">DDR2</option>
                <option value="ddr3">DDR3</option>
                <option value="ddr4">DDR4</option>
                <option value="ddr5">DDR5</option>
            </select>
        </div>
        <div
            class="ram flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="usageType">사용 용도</label>
            <select
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center"
                name="usageType"
                id="usageType"
            >
                <option value="desktop">데스크탑</option>
                <option value="laptop">노트북</option>
            </select>
        </div>
        <div
            class="gpu flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="vramCapacity">VRAM 용량</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="vramCapacity"
                id="vramCapacity"
                placeholder="숫자만 입력해주세요 (단위 GB)"
            />
        </div>
        <div
            class="ssd hdd flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="interface">인터페이스</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="text"
                name="interface"
                id="interface"
                placeholder="입력해주세요"
            />
        </div>
        <div
            class="cpu gpu mainboard flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="powerConsumption">소비 전력</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="powerConsumption"
                id="powerConsumption"
                placeholder="숫자만 입력해주세요 (단위 W)"
            />
        </div>
        <div
            class="ssd flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="readSpeed">읽기 속도</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="readS"
                id="readSpeed"
                placeholder="숫자만 입력해주세요 (단위 MB/s)"
            />
        </div>
        <div
            class="ssd flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="writeSpeed">쓰기 속도</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="writeSpeed"
                id="writeSpeed"
                placeholder="숫자만 입력해주세요 (단위 MB/s)"
            />
        </div>
        <div
            class="hdd flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="rotationSpeed">회전 속도</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="rotationSpeed"
                id="rotationSpeed"
                placeholder="숫자만 입력해주세요 (단위 RPM)"
            />
        </div>
        <div
            class="powersupply flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="wattage">정격 출력</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="wattage"
                id="wattage"
                placeholder="숫자만 입력해주세요 (단위 W)"
            />
        </div>
        <div
            class="mainboard flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="ramSlots">램 슬롯 수</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="ramSlots"
                id="ramSlots"
                placeholder="숫자만 입력해주세요"
            />
        </div>
        <div
            class="mainboard flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="maxRamCapacity">최대 램 용량</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="maxRamCapacity"
                id="maxRamCapacity"
                placeholder="숫자만 입력해주세요 (단위 GB)"
            />
        </div>
        <div
            class="mainboard flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black hidden"
        >
            <label class="w-[35%]" for="sataSlots">SATA 포트 수</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="sataSlots"
                id="sataSlots"
                placeholder="숫자만 입력해주세요"
            />
        </div>
    </form>
    <div class="flex justify-center mt-[50px] text-4xl">
        <button class="bg-gray-300 w-[24%] py-[10px] mr-[2%]">취소</button>
        <button
            class="bg-gray-300 w-[24%] py-[10px]"
            type="submit"
            onclick="uploadImage()"
        >
            상품 등록
        </button>
    </div>
</main>
<script th:src="@{/product/js/product-create.js}"></script>
<script th:src="@{/product/js/config.js}"></script>
</body>
</html>
