<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" th:href="@{/product/css/product.css}"/>
    <title>PC Mall</title>
</head>
<body>
<main class="mb-[50px]">
    <h1 class="h-[200px] text-center text-4xl font-bold leading-[200px]">
        상품 수정/관리 - 관리자
    </h1>
    <div class="flex justify-evenly items-center my-[70px]" id="preview">
        <button
            class="flex flex-col justify-evenly items-center w-[250px] h-[250px] text-4xl font-bold border-solid border-2 border-black"
            onclick="handleImageUpload()"
        >
            <p class="mt-[50px]">+</p>
            <p id="image-count" class="text-2xl font-light" th:text="|${product.images.size()}/4|"></p>
            <input
                type="file"
                name="imageInput"
                id="image-input"
                accept="image/png, image/jpg, image/jpeg"
                onchange="previewImage()"
                hidden
                multiple
            />
        </button>
        <div style="position: relative;" th:each="image: ${product.images}">
            <img class="preview-image" th:src="${image.url}" style="display: flex; width: 300px;
             height: 300px; border: 1px solid black;" th:alt="|상품이미지${imageStat.index + 1}|"
             th:attr="imageName=${image.name}">
            <button class="img-delete" style="position: absolute; right: 1px; top: 1px; width: 50px;
                height: 50px; color: red; font-weight: bold; background-color: white">X
            </button>

        </div>
    </div>

    <form class="flex flex-col items-center" id="inputForm">
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-y-2 border-black"
        >
            <label class="w-[35%]" >부품</label>
            <p
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center"
                id="part"
                th:text="${product.part}"
            >
            </p>
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="brand">제조사</label>
            <select
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center"
                name="제조사"
                id="brand"
            >
                <option th:each="brand: ${brands}" th:value="${brand.name}"
                        th:text="${brand.name}"/>
            </select>
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="name">제품명</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="text"
                name="제품명"
                id="name"
                placeholder="입력해주세요"
                th:value="${product.name}"
            />
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black">
            <label class="w-[35%]" for="stock">재고</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="재고"
                id="stock"
                placeholder="숫자만 입력해주세요"
                th:value="${product.stock}"
            />
        </div>
        <div
            class="flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
        >
            <label class="w-[35%]" for="price">가격</label>
            <input
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                name="가격"
                id="price"
                placeholder="숫자만 입력해주세요"
                th:value="${product.price}"
            />
        </div>
        <div
            class="descInput flex items-center w-[50%] h-[50px] text-2xl text-left font-bold border-b-2 border-black"
            th:each="entry: ${product.description}"
        >
            <label class="w-[35%]" th:text="${entry.key}"></label>
            <input
                th:if="${!#lists.contains({'제품 분류', '냉각 방식', '메모리 분류', '사용 용도', '인터페이스',
                '케이스 분류', '케이스 크기'}, entry.key)}"
                class="w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                type="number"
                th:id="|pr${product.id}|"
                th:value="${entry.value}"
            />
            <select
                th:if="${entry.key == '제품 분류'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:defaultValue="${entry.value}"
            >
                <option value="CPU 쿨러">CPU 쿨러</option>
                <option value="시스템 쿨러">시스템 쿨러</option>
                <option value="RAM 쿨러">RAM 쿨러</option>
            </select>
            <select
                th:if="${entry.key == '냉각 방식'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:defaultValue="${entry.value}"
            >
                <option value="공랭">공랭</option>
                <option value="수랭">수랭</option>
            </select>
            <select
                th:if="${entry.key == '메모리 분류'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:defaultValue="${entry.value}"
            >
                <option value="DDR">DDR</option>
                <option value="DDR2">DDR2</option>
                <option value="DDR3">DDR3</option>
                <option value="DDR4">DDR4</option>
                <option value="DDR5">DDR5</option>
            </select>
            <select
                th:if="${entry.key == '사용 용도'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:defaultValue="${entry.value}"
            >
                <option value="desktop">데스크탑</option>
                <option value="laptop">노트북</option>
            </select>
            <select
                th:if="${entry.key == '인터페이스'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:value="${entry.value}"
                th:defaultValue="${entry.value}"
            >
                <option value="SATA3">SATA3</option>
                <option value="PCIe3.0x4">PCIe3.0x4</option>
                <option value="PCIe4.0x4">PCIe4.0x4</option>
                <option value="PCIe5.0x4">PCIe5.0x4</option>
            </select>
            <select
                th:if="${entry.key == '케이스 분류'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:value="${entry.value}"
                th:defaultValue="${entry.value}"
            >
                <option value="ATX">ATX</option>
                <option value="M-ATX">M-ATX</option>
                <option value="RTX">RTX</option>
                <option value="미니 ITX">미니 ITX</option>
            </select>
            <select
                th:if="${entry.key == '케이스 크기'}"
                class="selected w-[35%] outline focus:outline-black focus:outline-2 font-light text-center placeholder:text-[15px]"
                th:id="|pr${product.id}|"
                th:value="${entry.value}"
                th:defaultValue="${entry.value}"
            >
                <option value="빅타워">빅타워</option>
                <option value="미들타워">미들타워</option>
                <option value="미니타워">미니타워</option>
            </select>
        </div>


        <div class="flex justify-between w-[50%] mt-[50px] text-4xl">
            <button
                class="bg-[skyblue] w-[45%] py-[10px] mr-[2%] hover:bg-[#33adff] hover:text-white"
                type="button"
                th:onclick="cancel([[${product.id}]])">
                취소
            </button>
            <button
                class="bg-[skyblue] w-[45%] py-[10px] hover:bg-[#33adff] hover:text-white"
                type="button"
                th:onclick="deleteReq([[${product.id}]])">
                상품 삭제
            </button>
        </div>
        <div class="flex w-[50%] mt-[50px] text-4xl">
            <button
                class="bg-[skyblue] w-[100%] py-[10px] mr-[2%] hover:bg-[#33adff] hover:text-white"
                type="button"
                th:onclick="updateReq([[${product.id}]])">
                수정 완료
            </button>
        </div>
    </form>
</main>
<div id="modal"
     class="fixed top-0 left-0 flex justify-center items-center w-[100%] h-[100%] bg-zinc-500 z-10 opacity-90 hidden">
    <h1 class="text-center text-7xl">잠시만 기다려주세요..</h1>
</div>
<script th:src="@{/product/js/product-manage.js}"></script>
</body>
</html>
