<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      table, th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
    </style>
</head>
<body>
    <h1>All Orders</h1>
    <table>
        <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.userId}"></td>
            <td>
                <input id="orderIdInput" type="hidden" name="_method" th:value="${order.id}"/>
                <select th:id="'status'+${order.id}" name="status">
                    <option value="SHIPPING" th:selected="${order.status.name() == 'SHIPPING'}">배송 중</option>
                    <option value="DELIVERED" th:selected="${order.status.name() == 'DELIVERED'}">배송 완료</option>
                    <option value="CANCELED" th:selected="${order.status.name() == 'CANCELED'}">취소</option>
                    <option value="CONFIRMED" th:selected="${order.status.name() == 'CONFIRMED'}">주문 확인</option>
                </select>
                <button th:onclick="updateOrder([[${order.id}]])" th:text="Update"></button>
            </td>
            <td>
                <input type="hidden" name="_method" value="delete"/>
                <button th:onclick="deleteOrder([[${order.id}]])" th:text="Delete"></button>
            </td>
        </tr>
        </tbody>
    </table>
    <script th:inline="javascript">

      const updateOrder = async (orderId) => {
        const orderStatus = document.getElementById("status" + orderId).value;

        console.log(orderId, orderStatus);
        const updateResult = await fetch(`/api/orders/${orderId}`, {
          method: "put",
          body: JSON.stringify({orderId, orderStatus}),
          headers: {"Content-Type": "application/json"}
        }).then(res => res.json());
        console.log(updateResult);
      };


      const deleteOrder = async (orderId) => {

        console.log(orderId);
        const deleteResult = await fetch(`/api/orders/${orderId}`, {
          method: "delete",
          headers: {"Content-Type": "application/json"}
        });
        
        console.log(deleteResult);

        window.location.reload();
      };
      
    </script>
</body>
</html>
