.cart-container {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.cart-header h1 {
  margin: 0;
}

.back-button {
  position: absolute;
  left: 20px;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.cart-items {
  max-height: 400px;
  overflow-y: auto;
  padding: 20px;
  background-color: #e0e0e0;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.item-checkbox {
  margin-right: 10px;
}

.item-image {
  width: 80px; /* 이미지 크기 조정 */
  height: 80px; /* 이미지 크기 조정 */
  margin-right: 15px;
}

.item-details {
  flex-grow: 1;
}

.item-name {
  font-size: 24px; /* 글자 크기 조정 */
  margin: 0;
}

.item-price, .item-quantity {
  font-size: 20px; /* 글자 크기 조정 */
  margin: 5px 0;
}

.item-remove {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #ccc;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
}
