<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PC Mall</title>
  <link rel="stylesheet" th:href="@{/user/css/login-form.css}">

</head>
<body>
<div class="container">
  <h1>PC Mall</h1>
  <hr>
  <form class="form-signin" th:action="@{/login}" th:object="${userLoginDto}" method="post">
    <div class="row alert alert-danger center" role="alert" th:if="${param.error != null}">
      <div>로그인 인증에 실패했습니다.</div>
    </div>
    <div class="input-group">
      <span>&#128100;</span>
      <input type="email" th:field="*{email}" placeholder="email" required>
<!--      <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>-->
    </div>
    <div class="input-group">
      <span>&#128273;</span>
      <input type="password" th:field="*{password}" placeholder="Password" required>
<!--      <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
    </div>
    <div class="btn-group">
      <button class="login-button" type="submit">로그인</button>
      <button class="signup-button" type="button" th:onclick="|location.href='@{/sign-up}'|">회원가입</button>
    </div>
  </form>
</div>
</body>
</html>
