<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>장바구니</title>
  <link rel="stylesheet" href="/cart/css/cart.css">
</head>
<body>
<div class="cart-container">
  <div class="cart-header">
    <a href="/user/product" class="back-button">←</a>
    <h1>장바구니</h1>
  </div>
  <div class="cart-items" id="cartItems">
    <!-- 장바구니 아이템이 여기에 추가됩니다 -->
    <div th:each="item : ${cart.items}" class="cart-item">
      <input type="checkbox" class="item-checkbox" th:data-product-id="${item.productId}" onchange="updateTotalPrice()">
      <img th:if="${item.product.images.size() != 0}" th:each="image: ${item.product.images}" th:src="${image.url}" alt="제품 이미지" class="item-image">
      <div class="item-details">
        <p class="item-name" th:text="${item.productName}">제품 이름</p>
        <p class="item-price" th:text="'가격: ' + ${item.productPrice} + '원'">가격: 123.0원</p>
        <p class="item-quantity">수량: <input type="number" th:value="${item.quantity}" class="quantity-input" min="1" onchange="updateCartItem(${item.id}, this.value)"></p>
      </div>
      <button class="item-remove" th:onclick="'removeItem(' + ${item.id} + ')'">−</button>
    </div>
  </div>
  <button class="clear-cart-button" onclick="clearCart()">전체 삭제</button>
  <div class="cart-total">
    <p>총 결제금액</p>
    <p id="totalPrice">0원</p>
  </div>
  <button class="order-button" onclick="placeOrder()">주문하기</button>
</div>

<script src="/cart/js/cart.js"></script>
</body>
</html>
